html, body {
	margin: 0px;
	height: 100%;
	width: 100%;
}


body {
	background-color: gray;
	color: white;
	font-family: sans-serif;
}

h3 {
	margin: 5px;
}

button {
	min-width: 80px;
	height: 40px;
	margin-right: 8px;
	margin-left: 8px;
	background-color: black;
	color: white;
	border-radius: 5px;
	font-size: 23px;
}

button:active {
  background-color: green;
}

button:not(:active) {
	background: black;
	transition: background-color 1s;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.private, .public {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.die {
	display: flex;
	justify-content: center;
	margin: 5px;
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: black;
	background-color: white;
	color: black;
	width: 100px;
	height: 100px;
	font-size: 32px;
}

.actions-container {
	display: flex;
	margin-bottom: 15px;
}

#private-dice-container, #public-dice-container {
	display: grid;
	grid-template-columns: 110px 110px 1fr;
}

.public {
	border-top: 3px solid black;
}

#konami {
	width: 100%;
	height: 50px;
}